In [1]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("CreateDataFrames") \
    .getOrCreate()

# Sample data for Students table
students_data = [
    (1, 'Alice'),
    (2, 'Bob'),
    (13, 'John'),
    (6, 'Alex')
]

# Sample data for Subjects table
subjects_data = [
    ('Math',),
    ('Physics',),
    ('Programming',)
]

# Sample data for Examinations table
examinations_data = [
    (1, 'Math'),
    (1, 'Physics'),
    (1, 'Programming'),
    (2, 'Programming'),
    (1, 'Physics'),
    (1, 'Math'),
    (13, 'Math'),
    (13, 'Programming'),
    (13, 'Physics'),
    (2, 'Math'),
    (1, 'Math')
]

# Create DataFrames
students_df = spark.createDataFrame(students_data, ["student_id", "student_name"])
subjects_df = spark.createDataFrame(subjects_data, ["subject_name"])
examinations_df = spark.createDataFrame(examinations_data, ["student_id", "subject_name"])

# Show DataFrames
students_df.show()
subjects_df.show()
examinations_df.show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/29 12:10:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/02/29 12:10:18 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+----------+------------+
|student_id|student_name|
+----------+------------+
|         1|       Alice|
|         2|         Bob|
|        13|        John|
|         6|        Alex|
+----------+------------+

+------------+
|subject_name|
+------------+
|        Math|
|     Physics|
| Programming|
+------------+

+----------+------------+
|student_id|subject_name|
+----------+------------+
|         1|        Math|
|         1|     Physics|
|         1| Programming|
|         2| Programming|
|         1|     Physics|
|         1|        Math|
|        13|        Math|
|        13| Programming|
|        13|     Physics|
|         2|        Math|
|         1|        Math|
+----------+------------+

In [10]:
from pyspark.sql import functions as F

# Join students_df and examinations_df
result_df = students_df.join(examinations_df, 'student_id', 'left')

# Group by student_id and subject_name, and count occurrences
result_df = result_df.groupBy('student_id', 'subject_name').count()

# Rename the 'count' column to 'attended_exams'
result_df = result_df.withColumnRenamed('count', 'attended_exams')

# Order by student_id and subject_name
result_df = result_df.orderBy('student_id', 'subject_name').filter(F.col('subject_name').isNotNull())

resulf_df = result_df.filter

# Show the result
result_df.show()

+----------+------------+--------------+
|student_id|subject_name|attended_exams|
+----------+------------+--------------+
|         1|        Math|             3|
|         1|     Physics|             2|
|         1| Programming|             1|
|         2|        Math|             1|
|         2| Programming|             1|
|        13|        Math|             1|
|        13|     Physics|             1|
|        13| Programming|             1|
+----------+------------+--------------+

+----------+------------+--------------+
|student_id|subject_name|attended_exams|
+----------+------------+--------------+
|         1|        Math|             3|
|         1|     Physics|             2|
|         1| Programming|             1|
|         2|        Math|             1|
|         2| Programming|             1|
|        13|        Math|             1|
|        13|     Physics|             1|
|        13| Programming|             1|
+----------+------------+--------------+

In [ ]:
 # Generate all possible combinations of students and subjects
WITH all_combinations AS (
    SELECT 
        s.student_id,
        s.student_name,
        sj.subject_name
    FROM 
        Students s
    CROSS JOIN 
        Subjects sj
)
 # Left join with Examinations to count attended exams
SELECT 
    ac.student_id,
    ac.student_name,
    ac.subject_name,
    COUNT(e.subject_name) AS attended_exams
FROM 
    all_combinations ac
LEFT JOIN 
    Examinations e ON ac.student_id = e.student_id AND ac.subject_name = e.subject_name
GROUP BY 
    ac.student_id, ac.student_name, ac.subject_name
ORDER BY 
    ac.student_id, ac.subject_name;

In [ ]:
SELECT s.student_id, s.student_name, sub.subject_name, COUNT(e.subject_name) AS attended_exams
FROM Students s
CROSS JOIN Subjects sub
LEFT JOIN Examinations e ON s.student_id = e.student_id AND sub.subject_name = e.subject_name
GROUP BY s.student_id, s.student_name, sub.subject_name
ORDER BY s.student_id, sub.subject_name;