In [3]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *

spark = SparkSession.builder.master("local[4]").appName("LeadLag").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/12 16:48:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
emp_data = [    (1,'manish',50000,'IT','m'),
            (2,'vikash',60000,'sales','m'),
            (3,'raushan',70000,'marketing','m'),
            (4,'mukesh',80000,'IT','m'),
            (5,'priti',90000,'sales','f'),
            (6,'nikita',45000,'marketing','f'),
            (7,'ragini',55000,'marketing','f'),
            (8,'rashi',100000,'IT','f'),
            (9,'aditya',65000,'IT','m'),
            (10,'rahul',50000,'marketing','m'),
            (11,'rakhi',50000,'IT','f'),
            (12,'akhilesh',90000,'sales','m')   ]

emp_schema=['id','name','salary','dept','gender']

emp_df = spark.createDataFrame(data=emp_data,schema=emp_schema)
emp_df = emp_df.select('id','name','salary','gender','dept')
emp_df.show()

+---+--------+------+------+---------+
| id|    name|salary|gender|     dept|
+---+--------+------+------+---------+
|  1|  manish| 50000|     m|       IT|
|  2|  vikash| 60000|     m|    sales|
|  3| raushan| 70000|     m|marketing|
|  4|  mukesh| 80000|     m|       IT|
|  5|   priti| 90000|     f|    sales|
|  6|  nikita| 45000|     f|marketing|
|  7|  ragini| 55000|     f|marketing|
|  8|   rashi|100000|     f|       IT|
|  9|  aditya| 65000|     m|       IT|
| 10|   rahul| 50000|     m|marketing|
| 11|   rakhi| 50000|     f|       IT|
| 12|akhilesh| 90000|     m|    sales|
+---+--------+------+------+---------+

In [14]:
# IF ELSE -- When Otherwise

emp_df.withColumn(
      "salary_wise",
      when(col("salary") < 50000, "Low")
      .when( (col("salary") >=50000) & (col("salary") < 80000), "Medium")
      .otherwise("High")
).show()

+---+--------+------+------+---------+-----------+
| id|    name|salary|gender|     dept|salary_wise|
+---+--------+------+------+---------+-----------+
|  1|  manish| 50000|     m|       IT|     Medium|
|  2|  vikash| 60000|     m|    sales|     Medium|
|  3| raushan| 70000|     m|marketing|     Medium|
|  4|  mukesh| 80000|     m|       IT|       High|
|  5|   priti| 90000|     f|    sales|       High|
|  6|  nikita| 45000|     f|marketing|        Low|
|  7|  ragini| 55000|     f|marketing|     Medium|
|  8|   rashi|100000|     f|       IT|       High|
|  9|  aditya| 65000|     m|       IT|     Medium|
| 10|   rahul| 50000|     m|marketing|     Medium|
| 11|   rakhi| 50000|     f|       IT|     Medium|
| 12|akhilesh| 90000|     m|    sales|       High|
+---+--------+------+------+---------+-----------+